{% extends "blog/base.html" %}
    {% block content %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" >
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'profile' %}">{{ post.author }}</a>
          <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
          {% if post.author == user %}
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' post.id %}">Update</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.id %}">Delete</a>
          {% endif %}
        </div>
        <h2 class="article-title">{{ post.title }}</h2>
        <p class="article-content">{{ post.content }}</p>
      </div>
    </article>


 <br>
 <hr>
 <form  method="post">
   {% csrf_token %}
   {{ comment_form.as_p}}
   <input type="submit" value="submit" class="btn btn-outline-success">
 </form>
 <div class="main-comment-section">
   {% for comment in comments %}
   <blockquote class="blockquote">
     <img class="rounded-circle article-img" src="{{ comment.author.profile.image.url }}" >
  <p class="mb-0">{{ comment.text }}</p>
  <footer class="blockquote-footer">by <cite title="Source Title"> {{ comment.author }} </cite></footer>
</blockquote>

   {% endfor %}

 </div>

    {% endblock content %}
